
[submodule "PyGraphQL1"]
	path = PyGraphQL1
	url = https://github.com/SofiaTohmeGarnero/GraphQL_Apollo_Module1.git
[submodule "PyGraphQL2"]
	path = PyGraphQL2
	url = https://github.com/SofiaTohmeGarnero/GraphQL_Apollo_Module2.git
[submodule "PyGraphQL3"]
	path = PyGraphQL3
	url = https://github.com/SofiaTohmeGarnero/GraphQL_Apollo_Module3.git
[submodule "PyGraphQL4"]
	path = PyGraphQL4
	url = https://github.com/SofiaTohmeGarnero/GraphQL_Apollo_Module4.git
